div.container
  div.row
    div
      h2 Sheets
      ul(ng-repeat="sheet in sheets | orderByPriority")
        li
          span {{sheet.name}}
          a(href='', ng-href="#/edit/{{sheet.$id}}") Edit
          a(href='', ng-href="#/pick-priorities/{{sheet.$id}}") Pick Priorities
          a(href='', ng-href="#/abilities/{{sheet.$id}}") Abilities
      span [
      a(href="#", ng-click="newSheet()") Add New Sheet
      span ]