div.container
  div.row
    div
      h2 Sheets
      ul(ng-repeat="sheet in sheets | orderByPriority")
        li
          a(href='', ng-href="#/edit/{{sheet.$id}}") {{sheet.name}}
      span [
      a(href="#", ng-click="newSheet()") Add New Sheet
      span ]